.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: -1px;
  z-index: 12;
  background-color: white;
  width: 100%;
  padding: 0.75rem 2rem;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 4px;
}

.header img {
  width: 200px;
  padding: 0.25rem 0px;
}

.header .sideControls {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: auto;
}

.header .locationSelector {
  margin: 0px 1rem 0px 0px;
}

.header .pickerContainer {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0px;
}

.header .picker {
  color: rgb(191, 133, 20);
  font-weight: bold;
  padding: 0.5rem 0px;

  display: flex;
  align-items: center;
  flex-direction: row;
  width: auto;
}

.picker > :not(:last-child) {
  margin-right: 0.5rem;
}

.header .login {
  width: max-content;
  padding: 0.75rem 1.75rem;
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  color: rgb(43, 43, 43);
  filter: none;
  cursor: pointer;
}
